In [1]:
import graphlab

In [24]:
f = graphlab.SFrame("nyse/prices.csv")

Finished parsing file /Users/idvlab/Documents/TTU/htdocs/Outliagnostics.github.io/data/nyse/prices.csv

Parsing completed. Parsed 100 lines in 0.794103 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[str,str,float,float,float,float,float]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file /Users/idvlab/Documents/TTU/htdocs/Outliagnostics.github.io/data/nyse/prices.csv

Parsing completed. Parsed 851264 lines in 1.07649 secs.

In [25]:
processedf = f

In [23]:
from datetime import datetime
def parseDate(dateStr):
    dateFrm = '%Y-%m-%d'
    if ":" in dateStr:
        dateFrm = "%Y-%m-%d %H:%M:%S"
    return datetime.strptime(dateStr, dateFrm);

In [37]:
def monthDiff(d1, d2):
    return (d1.year - d2.year) * 12 + d1.month - d2.month

In [26]:
processedf['date'] = processedf['date'].apply(parseDate)

In [43]:
minDate = min(processedf['date'])
def monthIndex(d):
    return monthDiff(d, minDate);

In [44]:
processedf['monthIndex'] = processedf['date'].apply(monthIndex)

In [47]:
import graphlab.aggregate as agg

In [48]:
result = processedf.groupby(key_columns=['symbol', 'monthIndex'], operations={'open': agg.MEAN('open'), 'close': agg.MEAN('close')})

In [49]:
result

Columns:
	monthIndex	int
	symbol	str
	close	float
	open	float

Rows: 40587

Data:
+------------+--------+---------------+---------------+
| monthIndex | symbol |     close     |      open     |
+------------+--------+---------------+---------------+
|     81     |  MCHP  | 60.3523808571 | 60.4623805238 |
|     34     |  PLD   | 33.7133332857 | 33.7338095238 |
|     65     |   K    |   62.492727   | 62.4513632727 |
|     80     |  COTY  | 24.2971427143 | 24.5609522381 |
|     27     |  CBS   |   32.9535001  |  32.92300015  |
|     75     |  CELG  | 106.390476429 | 106.244285619 |
|     18     |  BSX   |     7.1145    |     7.1045    |
|     7      |  MCK   | 61.2499998636 | 61.3313637273 |
|     73     |  SEE   |  43.04400025  |     42.982    |
|     74     |  PYPL  | 39.3545455909 | 39.2309092273 |
+------------+--------+---------------+---------------+
[40587 rows x 4 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [50]:
Scagnostics = ["Outlying"]

In [51]:
Variables = ["open", "close"]

In [52]:
Countries = result['symbol'].unique()

In [53]:
Countries

dtype: str
Rows: 501
['CA', 'CAT', 'AMT', 'SPGI', 'ABBV', 'URI', 'MPC', 'ALL', 'DE', 'HP', 'TIF', 'MRO', 'MAC', 'CHK', 'USB', 'AIG', 'PYPL', 'CINF', 'INTC', 'K', 'PCG', 'RF', 'SNA', 'CMA', 'ED', 'ETR', 'ADI', 'ADBE', 'ORCL', 'WU', 'SCG', 'VAR', 'COTY', 'HUM', 'SRE', 'AMZN', 'ADS', 'HAR', 'ETFC', 'PLD', 'RIG', 'JCI', 'TSCO', 'FTI', 'LOW', 'IPG', 'PH', 'PXD', 'NSC', 'EMR', 'AAPL', 'FOXA', 'FFIV', 'FOX', 'PFE', 'ANTM', 'MAS', 'TDG', 'NEE', 'NOV', 'NTAP', 'A', 'BA', 'IBM', 'KSS', 'CME', 'DLTR', 'WBA', 'HOLX', 'CAH', 'CMI', 'APH', 'ESRX', 'TXT', 'DG', 'DNB', 'BBBY', 'HRS', 'NDAQ', 'AMAT', 'RCL', 'AAP', 'WYN', 'AIV', 'EQT', 'GWW', 'SO', 'MCO', 'LB', 'AFL', 'NTRS', 'WM', 'AZO', 'MKC', 'CPB', 'DTE', 'PDCO', 'AXP', 'XL', 'COF', ... ]

In [55]:
def getDataFromMonth(month):
    
    return

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83