In [30]:
import pandas as pd
import numpy as np

In [6]:
fh = open("GoodsVsServices.txt", "r") 
lines = fh.readlines()

In [7]:
seriesIds = 106
linesPerSery = 240 #including two spaces on top

In [18]:
def getState(seriesNumber):
    stateIndex = seriesNumber*linesPerSery+6
    stateLine = lines[stateIndex].rstrip()
    parts = stateLine.split(':')
    state = parts[1].strip()
    return state

In [19]:
getState(0)

'Alabama'

In [20]:
def getIndustry(seriesNumber):
    theIndex = seriesNumber*linesPerSery+9
    theLine = lines[theIndex].rstrip()
    parts = theLine.split(':')
    theValue = parts[1].strip()
    return theValue

In [21]:
getIndustry(0)

'Goods Producing'

In [37]:
def getDataFrame(seriesNumber):
    States = []
    Industries = []
    Years = []
    Periods = []
    Values = []
    theStartIndex = 14
    theEndIndex = linesPerSery - 3
    theState = getState(seriesNumber)
    theIndustry = getIndustry(seriesNumber)
    for i in range(theStartIndex, theEndIndex+1, 1):
        line = lines[i].rstrip();
        parts = line.split(',')
        States.append(theState)
        Industries.append(theIndustry)
        Years.append(parts[1])
        Periods.append(parts[2][1:])
        Values.append(parts[3])
    resultFrame = pd.DataFrame({'States': States, 'Industries': Industries, 'Years': Years, 'Periods': Periods, 'Values': Values})
    return resultFrame

In [38]:
x = getDataFrame(0)

In [39]:
x.head()

        Industries Periods   States Values Years
0  Goods Producing      01  Alabama    1.1  2000
1  Goods Producing      02  Alabama   -1.4  2000
2  Goods Producing      03  Alabama   -0.8  2000
3  Goods Producing      04  Alabama   -1.6  2000
4  Goods Producing      05  Alabama   -1.9  2000

In [27]:
line = lines[14].rstrip()

In [28]:
line

'SMS01000000600000001,2000,M01,1.1'

In [29]:
line.split(',')

['SMS01000000600000001', '2000', 'M01', '1.1']