In [179]:
import pandas as pd
import numpy as np

In [180]:
fh = open("GoodsVsServices.txt", "r") 
lines = fh.readlines()

In [181]:
(len(lines))/240

106

In [182]:
seriesIds = 106
linesPerSery = 240 #including two spaces on top

In [183]:
def getState(seriesNumber):
    stateIndex = seriesNumber*linesPerSery+6
    stateLine = lines[stateIndex].rstrip()
    parts = stateLine.split(':')
    state = parts[1].strip()
    return state

In [184]:
getState(105)

'Virgin Islands'

In [185]:
def printState(seriesNumber):
    stateIndex = seriesNumber*linesPerSery+6
    stateLine = lines[stateIndex].rstrip()
    print(stateLine)

In [186]:
getState(96)

'West Virginia'

In [187]:
def getIndustry(seriesNumber):
    theIndex = seriesNumber*linesPerSery+9
    theLine = lines[theIndex].rstrip()
    parts = theLine.split(':')
    theValue = parts[1].strip()
    return theValue

In [188]:
getIndustry(105)

'Service-Providing'

In [194]:
def getDataFrame(seriesNumber):
    States = []
    Industries = []
    Years = []
    Periods = []
    Values = []
    theStartIndex = 14
    theEndIndex = linesPerSery - 3
    theState = getState(seriesNumber)
    theIndustry = getIndustry(seriesNumber)
    for i in range(theStartIndex, theEndIndex+1, 1):
        dataIndex = i + seriesNumber*linesPerSery
        line = lines[dataIndex].rstrip();
        parts = line.split(',')
        States.append(theState)
        Industries.append(theIndustry)
        Years.append(int(parts[1]))
        Periods.append(int(parts[2][1:]))
        if "(P)" in parts[3] or "(C)" in parts[3]:
            parts[3] = parts[3][:-3]
        Values.append(float(parts[3]))
    resultFrame = pd.DataFrame({'State': States, 'Industry': Industries, 'Year': Years, 'Period': Periods, 'Value': Values})
    return resultFrame

In [195]:
x = getDataFrame(1)

In [196]:
allFrames = []
for i in range(seriesIds):
    allFrames.append(getDataFrame(i))

In [197]:
result0 = pd.concat(allFrames)

In [198]:
result0.head()

          Industry  Period    State  Value  Year
0  Goods Producing       1  Alabama    1.1  2000
1  Goods Producing       2  Alabama   -1.4  2000
2  Goods Producing       3  Alabama   -0.8  2000
3  Goods Producing       4  Alabama   -1.6  2000
4  Goods Producing       5  Alabama   -1.9  2000

In [199]:
len(result0)

23744

In [200]:
def monthDiff(row):
    return (row.Year - 2000) * 12 + row.Period - 1

In [201]:
monthIndex = []
for index, row in result0.iterrows():
    monthIndex.append(monthDiff(row))

In [202]:
result0 = result0.assign(monthIndex=monthIndex)

In [203]:
result0.iloc[300]

Industry      Service-Providing
Period                        5
State                   Alabama
Value                       1.4
Year                       2006
monthIndex                   76
Name: 76, dtype: object

In [204]:
result0.columns

Index([u'Industry', u'Period', u'State', u'Value', u'Year', u'monthIndex'], dtype='object')

In [205]:
def getEmploymentRate(monthIndex, state, industry):
    return result0.query('monthIndex=={0} and State=="{1}" and Industry=="{2}"'.format(monthIndex, state, industry))['Value'].iloc[0]

In [206]:
x = result0.query('monthIndex=={0} and State=="{1}" and Industry=="{2}"'.format(0, 'Alabama', 'Goods Producing'))

In [207]:
x

          Industry  Period    State  Value  Year  monthIndex
0  Goods Producing       1  Alabama    1.1  2000           0

In [208]:
x = result0.query('monthIndex=={0} and State=="{1}" and Industry=="{2}"'.format(0, 'Alabama', 'Service-Providing'))

In [234]:
x = result0.query('monthIndex==213')

In [235]:
x

              Industry  Period                 State  Value  Year  monthIndex
213    Goods Producing      10               Alabama   -0.3  2017         213
213  Service-Providing      10               Alabama    0.4  2017         213
213    Goods Producing      10                Alaska    1.0  2017         213
213  Service-Providing      10                Alaska   -0.4  2017         213
213    Goods Producing      10               Arizona    1.3  2017         213
213  Service-Providing      10               Arizona   -2.9  2017         213
213    Goods Producing      10              Arkansas    0.4  2017         213
213  Service-Providing      10              Arkansas    3.0  2017         213
213    Goods Producing      10            California   11.0  2017         213
213  Service-Providing      10            California   53.6  2017         213
213    Goods Producing      10              Colorado   -1.0  2017         213
213  Service-Providing      10              Colorado    5.2  2017         213
213    Goods Producing      10           Connecticut    1.8  2017         213
213  Service-Providing      10           Connecticut   -3.6  2017         213
213    Goods Producing      10              Delaware    0.2  2017         213
213  Service-Providing      10              Delaware    3.0  2017         213
213    Goods Producing      10  District of Columbia    0.1  2017         213
213  Service-Providing      10  District of Columbia    2.3  2017         213
213    Goods Producing      10               Florida   37.5  2017         213
213  Service-Providing      10               Florida  142.1  2017         213
213    Goods Producing      10               Georgia    6.5  2017         213
213  Service-Providing      10               Georgia   16.6  2017         213
213    Goods Producing      10                Hawaii    1.0  2017         213
213  Service-Providing      10                Hawaii   -0.2  2017         213
213    Goods Producing      10                 Idaho    0.8  2017         213
213  Service-Providing      10                 Idaho    3.3  2017         213
213    Goods Producing      10              Illinois    0.9  2017         213
213  Service-Providing      10              Illinois   -0.7  2017         213
213    Goods Producing      10               Indiana   -4.9  2017         213
213  Service-Providing      10               Indiana    9.3  2017         213
..                 ...     ...                   ...    ...   ...         ...
213    Goods Producing      10          Pennsylvania   -0.3  2017         213
213  Service-Providing      10          Pennsylvania   14.5  2017         213
213    Goods Producing      10          Rhode Island    0.1  2017         213
213  Service-Providing      10          Rhode Island    1.6  2017         213
213    Goods Producing      10        South Carolina    0.1  2017         213
213  Service-Providing      10        South Carolina   10.8  2017         213
213    Goods Producing      10          South Dakota    0.3  2017         213
213  Service-Providing      10          South Dakota    1.0  2017         213
213    Goods Producing      10             Tennessee    0.9  2017         213
213  Service-Providing      10             Tennessee    7.3  2017         213
213    Goods Producing      10                 Texas    9.7  2017         213
213  Service-Providing      10                 Texas   59.1  2017         213
213    Goods Producing      10                  Utah    0.2  2017         213
213  Service-Providing      10                  Utah    4.3  2017         213
213    Goods Producing      10               Vermont   -0.3  2017         213
213  Service-Providing      10               Vermont    0.9  2017         213
213    Goods Producing      10              Virginia    1.0  2017         213
213  Service-Providing      10              Virginia   -1.5  2017         213
213    Goods Producing      10            Washington    2.7  2017         213
213  Service-Providing      10            Washington    9.1  2017         213
213    Goods Producing      10         West Virginia    1.1  2017         213
213  Service-Providing      10         West Virginia   -0.3  2017         213
213    Goods Producing      10             Wisconsin    1.6  2017         213
213  Service-Providing      10             Wisconsin    2.1  2017         213
213    Goods Producing      10               Wyoming    0.1  2017         213
213  Service-Providing      10               Wyoming    0.2  2017         213
213    Goods Producing      10           Puerto Rico   -2.6  2017         213
213  Service-Providing      10           Puerto Rico  -32.4  2017         213
213    Goods Producing      10        Virgin Islands    0.2  2017         213
213  Service-Providing      10        Virgin Islands   -1.8  2017         213

[106 rows x 6 columns]

In [210]:
getEmploymentRate(1, 'Alabama', 'Service-Providing')

-0.5

In [211]:
States = result['State'].unique()

In [212]:
years = result['monthIndex'].unique()

In [213]:
YearData = []
StateData = []
GoodProducingEmploymentRate = []
SerivceProvidingEmploymentRate = []
for year in years:
    for state in States:
        YearData.append(year)
        StateData.append(state)
        GoodProducingEmploymentRate.append(getEmploymentRate(year, state, 'Goods Producing'))
        SerivceProvidingEmploymentRate.append(getEmploymentRate(year, state, 'Service-Providing'))

In [214]:
result = pd.DataFrame({'monthIndex': YearData, 'State': StateData, 'GoodsProducingRate': GoodProducingEmploymentRate, 'ServiceProvidingRate': SerivceProvidingEmploymentRate})

In [215]:
type(result['GoodsProducingRate'][0])

numpy.float64

In [216]:
Variables = ["GoodsProducingRate", "ServiceProvidingRate"]

In [217]:
Scagnostics = ["Outlying"]
Symbols = result['State'].unique()

In [218]:
def getDataFromMonth(month):
    r = result.query('monthIndex=='+str(month))
    r1 = None
    if(len(r)>0):        
        r1 = r.copy()
        maxV0 = max(r[Variables[0]])
        minV0 = min(r[Variables[0]])
        maxV1 = max(r[Variables[1]])
        minV1 = min(r[Variables[1]])
        r1['normalized'+Variables[0]] = r[Variables[0]].apply(lambda c: (c-minV0)/(maxV0-minV0))
        r1['normalized'+Variables[1]] = r[Variables[1]].apply(lambda o: (o-minV1)/(maxV1-minV1))
    return r1

In [219]:
monthSymbolData = pd.DataFrame();
for month in range(max(result['monthIndex'])+1):
    monthSymbolData = pd.concat([monthSymbolData, getDataFromMonth(month)])

In [220]:
def getDataMonthSymbol(month, symbol):
    return monthSymbolData.query('monthIndex=='+str(month)+' and State=="'+symbol+'"')

In [221]:
processedMonthData = []
for month in range(max(result['monthIndex'])+1):
    s0 = []
    s1 = []
    for symbol in Symbols:
        x = getDataMonthSymbol(month, symbol)
        if len(x)>0:
            s0.append(x['normalized'+Variables[0]].iloc[0])
            s1.append(x['normalized'+Variables[1]].iloc[0])
        else:
            s0.append('NaN')
            s1.append('NaN')
    processedMonthData.append({'s0': s0, 's1': s1})

In [222]:
Scagnostics0 = [0];
for md in processedMonthData:
    md['Scagnostics0'] = Scagnostics0

In [223]:
import math

In [224]:
processedSymbolData = {}
for symbol in Symbols:
    singleSymbolData = []
    for month in range(max(result['monthIndex'])+1):
        d = getDataMonthSymbol(month, symbol)
        if len(d)>0 and (not math.isnan(d[Variables[0]].iloc[0])) and (not math.isnan(d[Variables[1]].iloc[0])):
            v0 = d[Variables[0]].iloc[0]
            v1 = d[Variables[1]].iloc[0]
            s0 = d['normalized'+Variables[0]].iloc[0]
            s1 = d['normalized'+Variables[1]].iloc[0]
        else:
            v0 = 'NaN'
            v1 = 'NaN'
            s0 = 'NaN'
            s1 = 'NaN'
        singleMonthData ={"v0": v0, "v1": v1, "s0": s0, "s1": s1, "Outlying": 0, "year": month}
        singleSymbolData.append(singleMonthData)
    processedSymbolData[symbol] = singleSymbolData

In [225]:
finalResult = {}
finalResult['Scagnostics'] = Scagnostics
finalResult['Variables'] = Variables
finalResult['Countries'] = list(Symbols)
finalResult['YearsData'] = processedMonthData
finalResult['CountriesData'] = processedSymbolData

In [226]:
import json
with open('USEmploymentRateGoodVsService.json', 'w') as outfile:
    json.dump(finalResult, outfile)

In [227]:
max(result['monthIndex'])

223

In [233]:
result.query('monthIndex==213 and State=="Florida"')

       GoodsProducingRate  ServiceProvidingRate    State  monthIndex
11298                37.5                 142.1  Florida         213